@using Online_Consultation
@model IEnumerable<Online_Consultation.Models.PatientProfile>
@{
    ViewData["Title"] = "PatientProfile";
}

<div class="row">
    <div class="col-6">
        <h2 style="color:#6f42c1"> 
            Patient's List
        </h2>
    </div>
     <div class="col-6 text-end">
        <a asp-action="Create" class="btn" style="background-color:#6f42c1;color:white"> &nbsp; Add Patient</a>
    </div>

    <br />
    <br />
    <div class="col-lg-12 col-md-6">
      <table class=" container table table-striped">
      <tr>
        <th>
            @Html.DisplayNameFor(c => c.pname)
        </th>
         <th>
            @Html.DisplayNameFor(c => c.address)
        </th>
         <th>
            @Html.DisplayNameFor(c => c.Mobile)
        </th>
         <th>
            @Html.DisplayNameFor(c => c.Email)
        </th>
        
        <th></th>
      </tr>
      @foreach(var item in Model)
      {
      <tr>
          <td>
              @item.pname
          </td>
          <td>
              @item.address
          </td>
          <td>
              @item.Mobile
          </td>
          <td>
              @item.Email
          </td>
         
          <td>
       <div class="btn-group" role="group">
  <a asp-action="Edit" asp-controller="Patients" class="btn btn-success" asp-route-id="@item.id" > Edit  </a>
  <a class="btn btn-warning" asp-action="Details" asp-controller="Patients" asp-route-id="@item.id">Details</a>
  <a class="btn btn-danger" asp-action="Delete" asp-controller="Patients" asp-route-id="@item.id"> Delete </a>
</div>
</td>
</tr>
      }
      </table>
      </div>
    </div>



